body {
    background-color: lightblue;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }
  p{
    color: green;
    text-align: center;

  }span{
    text-align: center;

  }
  .city{
    color: blue;
    
  }
  .abc
  {
    color: blue;
    
  }
  .de
  {
    color:blue ;
    
    }


  
  
  
  
  